<div class="container">
<div class="text-center">
  <div class="banner">
    <%= image_tag('tool.jpg') %>

    <h3> hhxxxxxxxxxx </h3>



    <h1> xxxxxxxfggfgafgfgd0 years in the market </h1>

    <a class="btn btn-ghost" href="#">Log in</a>
    <a class="btn btn-ghost" href="#">Sig up</a>
  </div>
  </div>


  <div class="cards mt-5">
    <div class="card-category">
      <%= image_tag('drill.jpg') %>
    </div>

    <div class="card-category">
      <%= image_tag('chainsaw.jpg') %>
    </div>

    <div class="card-category">
      <%= image_tag('hammer.jpg') %>
    </div>

    <div class="card-category">
      <%= image_tag('box.jpg') %>
    </div>
  </div>

  <div class="d-flex justify-content-between my-4 align-items-center">
   <h2> Mobile version </h2>
    <%= image_tag('flag.jpg', id: 'flags') %>
  </div>
</div>








<%# <img src="images/Felix_cat.jpg" alt="marcel" style="width: 1400px; height: 220px"> %>
